<h2>Rāgas</h2>


<table class="table" id="ragas">
  <thead>
    <tr>
      <th class="title" data-sort="string">
        <div class="left">Title</div>
      </th>
      <th class="time" data-sort="string">
        <div class="left">Time</div>
      </th>
      <th class="chakra" data-sort="string">
        <div class="left">Chakra</div>
      </th>
      <th class="thaat" data-sort="string">
        <div class="left">Thaat</div>
      </th>
      <th class="spotify"></th>
    </tr>
  </thead>
  <tbody>
<%= for raga <- @ragas do %>
    <tr data-time="<%= raga.time %>" data-thaat="<%= raga.thaat %>">
      <td class="title">
        <%= link raga.title, to: "/ragas/#{raga.id}" %>
      </td>
      <td class="time">
        <%= link pretty_time(raga.time), to: "#" %>
      </td>
      <td class="chakra" data-sort-value="<%# raga.chakra.present? ? raga.chakra.split("_").last : "zzz" %>">
        <%= chakra_icon(raga.chakra) %>
      </td>
      <td class="thaat">
        <%= link raga.thaat || "", to: "#" %>
      </td>
      <td class="spotify">
        <%# spotify / youtube icons %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
